h1{
	color:black;
	text-shadow: -5px -5px 5px brown, 5px 5px 3px black;
	font-family: 'Pacifico', cursive;
	 
}






#prrf2{
	text-align: right;
	border:5px solid black;
	border-radius: 20px 50px 10px 30px;
	margin-top: 100px;
	padding: 20px;


}
body{
	background:url("../img/imags.jpg");
	background-size: cover;
}
#prrf1{
	border 5px solid red;
	border-top: 10px dashed green;
	border-left: 15px outset black;
	border-bottom: 7px ridge yellow;
	border-right: 9px double blue;

}